/* Styling CSS für Aufgabe 6

Ansicht Smartphone*/

body {
    background-color: #B3D0FF;
    margin: 0 auto; /* flexible Breite */
}

/* Burgermenü */

header div { /*breites Band für Navigation*/
    z-index         : 50;
    position        : fixed;
    top             : -20px;
    left            : -20px; /*top & left machen, dass volle Breite von (hier) blauem Band eingenommen wird*/
    background-color: #B3D0FF;
    width           : 110%;
    height          : 100px;
}

#baum {
    width: 10%;
    height: auto;
    position: fixed; 
    top: -2px;
    left: -100px;
    z-index: 100
}

nav {
    position: fixed; /* bleibt oben dran und scrollt mit*/
    z-index: 60;
}

ul {
    position: fixed;
    width: 100%;
    list-style: none;
    background: #B3D0FF;
    font-size: 2em;
    text-align: left;
    display: none;
}

#baum:hover+ul {
    display: block;
    position: fixed;
    transition: all ease 0.5s
}

nav:hover {
    display: block;
    top: -20px;
    left: 100px;
    transition: all ease 0.5s 
}

ul:hover {
    display: block;
}

li {
    display: block;
    color: #004F00;
}

.mainnav:hover {
    display: block;
    background-color: #F3D0FF;
    border: solid #000000;
    width: 11%;
    transition: all ease 0.5s 
}

/* Frage: Wieso geht Menü wieder so schnell weg? */

a {
    text-decoration: none;
    color: #000000
}

li:hover {
    display: block;
    background-color: #F3D0FF;
    border: solid #000000;
    transition: all ease 0.5
}

/* Überschriften/Schriftarten/Bilder */

.headline {
    font-family: fantasy;
    font-size: 1.5em;
    color: #004F00;
    text-align: center;
    z-index: 60
}

h3 {
    font-size: 1.25em;
    font-family: fantasy; 
    color: #004F00
}

#maintitle {
    font-size: 3em;
    z-index: 100;
    margin-top: 5%;
    position: relative;
    margin-top: 30%;
}

img {
    height: auto; 
    width: 50%;
    margin: 3% 3% 3% 30%;
    border: 1.5px solid #000000; /*Farbe und Breite des Rahmens*/
    border-radius: 90%; /*macht Rahmen rund*/
}

/* Main + Aside */

main {
    width: 100%;
}

section {
    background-color: #F1F1F1;
    float: left;
    width: 85%;
    margin-top: 5%;
    border: solid #F3D0FF;
    height: 800px; /*beschränkt Boxgröße nach unten*/
    overflow: scroll;
    margin-left: 2em;
    margin-right: 2em
}

article {
    margin: 10% 5% 10% 5%; 
}

aside {
    background-color: #B3D0FF;
    width: 98%;
}

aside:hover {
    background-color: #F1F1F1;
    border: solid #000000;
    transition: all ease 0.5s;
}

p {
    font-size: 0.75em;
    color: #005F00;
    background-color: #F1F1F1
}

footer {
    clear: left;
    width: 100%;
    background-color: #F1F1F1;
    text-align: center
}

  /* Ansicht Tablet */

  @media screen and (min-width: 40em) {
    
    header div { /*breites Band für Navigation*/
        z-index         : 50;
        position        : fixed;
        top             : -20px;
        left            : -20px; /*top & left machen, dass volle Breite von (hier) blauem Band eingenommen wird*/
        background-color: #B3D0FF;
        width           : 110%;
        height          : 130px;
    }

    .mainnav:hover {
        display: block;
        background-color: #F3D0FF;
        border: solid #000000;
        width: 20%;
    }

    #baum {
        width: 5%;
        height: auto;
        position: fixed; 
        top: 0.2px;
        left: -230px;
        z-index: 100
    }

    #maintitle {
        margin-top: 15%
    }
    
    main {
          margin-top: 2em;
          width: 75%;
      }

      aside {
          margin-top: 35px;
          width: 35%;
          float: right;
      }

      aside:hover {
        width: 50%;
      }

      section {
          float: left;
          width: 35%;
          margin-right: 1em;
          margin-bottom: 1em;
      }

      section:nth-child(2n+1) {
          clear: left
      }

    /* Frage: Wieso nicht 2x section pro Reihe??? */
  }

  @media screen and (min-width: 70em) {
    
    header div { /*breites Band für Navigation*/
        z-index         : 50;
        position        : fixed;
        top             : -20px;
        left            : -20px; /*top & left machen, dass volle Breite von (hier) blauem Band eingenommen wird*/
        background-color: #B3D0FF;
        width           : 110%;
        height          : 150px;
    }
    
    .mainnav:hover {
        display: block;
        background-color: #F3D0FF;
        border: solid #000000;
        width: 11%
    }

    #baum {
        width: 5%;
        height: auto;
        position: fixed; 
        top: -20px;
        left: -400px;
        z-index: 100
    }

    #maintitle {
        margin-top: 2%
    }

    main {
          width: 80%
      }

    aside {
          width: 20%;
          float: right;
          margin-right: 2em;
      }

    aside:hover {
          width: 40%
      }

    section:nth-child(2n+1) {
        clear: unset; /*macht 2er-Reihe wieder ungültig*/
    }

    section:nth-child(3n+1) {
        clear:left;
    }

    section {
        float: left;
          width: 25%;
      }
  }