/* css für Codebeispiel 30 */
/* Einbettung font */ 
@import url('https://fonts.googleapis.com/css?family=Courgette');

/* Basic Styles */
body {
	font-size: 1.0em;
	font-family: "Courgette", sans-serif;
}

button > img {
	margin: 0.5em auto;
}

h1 {
	text-align: center;
	margin-top: 2em;
}

.monster {
	width: 20em;
	height: auto;
	padding-right: 3em;
	padding-top: 3em;
	overflow: none;
}

.monster img { /* verzerrt die Bilder leider etwas, geht aber nicht anders, da das Schnabeltierbild eine viel größere Breite hat als die restlichen Bilder*/
	width: 330px;
	height: 350px;
}

.monster button {
	text-align: center;
	display: block;
	margin: auto;
}

.monster p {
	text-align: center;
	display: block;
	margin: auto;
}

.monster p+p
{
  font-size: 0.7em;
}

main div {
	display: inline-block;
}

/*main > div > img {
	width: 100%;
}*/

button {

  font-family: 	"Courgette", sans-serif;
  font-size: 1.2em;	
  padding: 1em;
  overflow: hidden;

	display: inline-block;
  width:10em; 	

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecccc;
  color: #ecf0f1;
  
  margin: auto;
	/*! text-align: center; */
  
  /*! float: left; */
}

#button-green {
	background-color: #2ecc71;
}

#button-red {
	background-color: #cc2e69;
}

#ArrayPush {
	width: 3em;
	background-color: #808080; /*passt besser ins Design ? */
}

footer {
	position: absolute; 
	bottom: 0.5em; 
	right: 1em;
}

footer a {
	color: #ddd;
	text-decoration: none;
}
