/* Styling CSS für Aufgabe 4*/
body {
    background-color: #B3D0FF
}

#mainnav ul {
    font-size: 1em;
    width: 25%; /*jeder Punkt bekommt 30% Platz*/
    float: left;
    position: fixed; /* Menü läuft mit*/
    background-color: #F1F1F1;
    padding: 0;
    list-style: none; /* entfernt Punkte von Liste*/
}

main {
    width: 75%;
}

.headline {
    font-family: fantasy;
    font-size: 1.5em;
    color: #004F00;
    background-color: #F1F1F1;
    z-index: 20;
}

h3 {
    font-size: 1.25em;
    font-family: fantasy; 
    color: #004F00
}

#maintitle {
    font-size: 3em;
    color: #004F00
}

img{
    height: 35%; 
    width: 35%;
    border: 1.5px solid #000000; /*Farbe und Breite des Rahmens*/
    border-radius: 90% /*macht Rahmen rund*/
}


section {
    background-color: #F1F1F1;
    float: left;
    width: 30%;
    margin: 1.1%
}

article {
    margin-right:2%;
    margin-left: 2%;
    margin-bottom: 2%;
}

aside {
    float: left;
    font-size: 1.45em;
    background-color: #D1FFD1;
    width: 25%
}

p {
    font-size: 0.75em;
    color: #005F00;
    background-color: #F1F1F1
}

footer {
    float: left;
    width: 100%;
    background-color: #F1F1F1;
    margin: 0;
    padding: 0
}